<h1>Convert <%= currency %></h1>

<p>Go <a href="/">back</a>.</p>
<ul>
  <% @currencies.each do |code, name| %>
    <li><a href="/<%= currency %>/<%= code %>">Convert 1 <%= currency %> to <%= code%>...</a></li>
  <% end %>
</ul>
